$main-100: #00A5F7;
$main-200: #0083C4;
$main-300: #245C78;
$main-400: #4BBFF9;
$main-500: #005078;

$primary-100: #D9D9D9;
$primary-200: #999999;
$primary-300: #595959;
$primary-400: #E6E6E6;
$primary-500: #BFBFBF;

$danger-100: #F7192F;
$danger-200: #DE162A;
$danger-300: #B81223;

$warning-100: #F79319;