{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-await-in-loop": "warn",
    "no-console": "warn",
    "no-extra-parens": "warn",
    "no-promise-executor-return": "warn",
    "no-unreachable-loop": "warn",
    "dot-notation": "warn",
    "grouped-accessor-pairs": "warn",
    "no-constructor-return": "warn",
    "no-else-return": "warn",
    "no-empty-function": "warn",
    "no-lone-blocks": "warn",
    "no-multi-spaces": "warn",
    "no-return-await": "warn",
    "no-useless-return": "warn",
    "require-await": "warn",
    "no-shadow": "warn",
    "array-bracket-spacing": "warn",
    "brace-style": "warn",
    "camelcase": "warn",
    "comma-dangle": "warn",
    "comma-spacing": "warn",
    "comma-style": "warn",
    "computed-property-spacing": "warn",
    "func-call-spacing": "warn",
    "func-style": ["warn", "declaration", {"allowArrowFunctions": true}],
    "indent": ["warn", 2],
    "jsx-quotes": ["warn", "prefer-single"],
    "key-spacing": "warn",
    "keyword-spacing": "warn",
    "lines-between-class-members": ["warn", "always", {"exceptAfterSingleLine": true}],
    "max-len": ["warn", {"code":  121}],
    "max-nested-callbacks": ["warn", 4],
    "no-mixed-operators": "warn",
    "no-multiple-empty-lines": ["warn", {"max": 2, "maxEOF": 0}],
    "no-trailing-spaces": "warn",
    "no-unneeded-ternary": "warn",
    "no-whitespace-before-property": "warn",
    "object-curly-newline": ["warn", {"multiline": true}],
    "object-curly-spacing": "warn",
    "object-property-newline": ["warn", {"allowAllPropertiesOnSameLine": false}],
    "operator-assignment": "warn",
    "operator-linebreak": ["warn", "after"],
    "padding-line-between-statements": ["warn", {"blankLine": "always", "prev": "*", "next": [
      "return",
      "class",
      "case",
      "export"
    ]}],
    "prefer-exponentiation-operator": "warn",
    "quote-props": ["warn", "as-needed"],
    "quotes": ["warn", "single"],
    "semi": ["warn", "always", {"omitLastInOneLineBlock": true}],
    "semi-spacing": "warn",
    "semi-style": "warn",
    "space-before-blocks": "warn",
    "space-before-function-paren": "warn",
    "space-in-parens": "warn",
    "space-infix-ops": "warn",
    "space-unary-ops": ["warn", {"words": true, "nonwords": false}],
    "switch-colon-spacing": "warn",
    "template-tag-spacing": "warn",
    "arrow-body-style": "warn",
    "arrow-parens": "warn",
    "arrow-spacing": "warn",
    "generator-star-spacing": ["warn", {"before": true, "after": true}],
    "no-confusing-arrow": "warn",
    "no-duplicate-imports": "warn",
    "no-useless-computed-key": ["warn", {"enforceForClassMembers": true}],
    "no-useless-constructor": "warn",
    "no-useless-rename": "warn",
    "no-var": "warn",
    "object-shorthand": "warn",
    "prefer-arrow-callback": "warn",
    "prefer-const": "warn",
    "prefer-rest-params": "warn",
    "prefer-spread": "warn",
    "prefer-template": "warn",
    "rest-spread-spacing": "warn",
    "symbol-description": "warn",
    "template-curly-spacing": "warn",
    "yield-star-spacing": ["warn", {"before": true, "after": true}],

    "react/boolean-prop-naming": "warn",
    "react/function-component-definition": ["warn", {
      "namedComponents": "arrow-function",
      "unnamedComponents": "arrow-function"
    }],
    "react/no-adjacent-inline-elements": "warn",
    "react/no-array-index-key": "warn",
    "react/no-redundant-should-component-update": "warn",
    "react/no-this-in-sfc": "warn",
    "react/no-typos": "warn",
    "react/no-unescaped-entities": "warn",
    "react/no-unknown-property": "warn",
    "react/no-unsafe": "warn",
    "react/prefer-es6-class": ["warn", "always"],
    "react/prefer-stateless-function": "warn",
    "react/self-closing-comp": "warn",
    "react/void-dom-elements-no-children": "warn",
    "react/jsx-boolean-value": ["warn", "always"],
    "react/jsx-child-element-spacing": "warn",
    "react/jsx-closing-bracket-location": "warn",
    "react/jsx-closing-tag-location": "warn",
    "react/jsx-curly-brace-presence": ["warn", {"props": "always", "children": "never"}],
    "react/jsx-curly-newline": "warn",
    "react/jsx-curly-spacing": ["warn", {"when": "never", "children": true}],
    "react/jsx-equals-spacing": "warn",
    "react/jsx-first-prop-new-line": "warn",
    "react/jsx-indent": ["warn", 2, {"checkAttributes": true, "indentLogicalExpressions": true}],
    "react/jsx-indent-props": ["warn", 2],
    "react/jsx-max-props-per-line": ["warn", {"maximum": 1, "when": "multiline"}],
    "react/jsx-no-bind": ["warn", {
      "ignoreDOMComponents": false,
      "ignoreRefs": true,
      "allowArrowFunctions": true,
      "allowFunctions": false,
      "allowBind": false
    }],
    "react/jsx-no-literals": ["warn", {"noStrings": false, "allowedStrings": ["allowed"], "ignoreProps": false, "noAttributeStrings": true }],
    "react/jsx-no-script-url": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "react/jsx-one-expression-per-line": "warn",
    "react/jsx-pascal-case": "warn",
    "react/jsx-props-no-multi-spaces": "warn",
    "react/jsx-space-before-closing": "warn",
    "@typescript-eslint/adjacent-overload-signatures": "warn",
    "@typescript-eslint/array-type": ["warn", {"arrayOption": "array-simple"}],
    "@typescript-eslint/class-literal-property-style": "warn",
    "@typescript-eslint/consistent-indexed-object-style": "warn"
  }
}