@import '../variables/variables';

.loader {
  color: $main-100 !important;
}

.pageLoader {
  color: $main-100 !important;
  z-index: 20;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: $white;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
